BODY, TD
{
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    margin:0px;
    padding:0px;
  //text-align: left;
}
DIV,SPAN 
{   
    font-family:Verdana,Helvetica,sans-serif;
    font-size:11px;
} 
A:link,A:active,A:visited,A:hover
{
/*    text-decoration:none; */
} 
FORM 
{  
    margin:0px;
    padding:0px;
}
FIELDSET
{
    border: none;
    padding: 0;
    margin: 0;
} 
IMG
{ 
    border:0px
} 
.ORB_BUTTON
{
    cursor:pointer;
    font-weight:bolder;
    padding:0px 10px 0px 10px;
    width:151px
} 
.ORB_BUTTONELEMENT
{
    margin-left:125px;
    margin-top:10px
} 

.ORB_BUTTONHELPTEXT
{
/*  display:none; 
    COLOR: #000373;
*/    
    white-space: nowrap;
}

/* Style definitions Get Missing Data */
.ORB_FIELDDESCRIPTION 
{
    border:0px;
    margin-left:0px;
    padding:3px 25px 0px 0px;
    vertical-align:top;
    width:100px 
/*    COLOR: #000373; */
}
.ORB_INSTRUCTIONS
{
    padding-bottom:15px; 
  color: #000373; 
}
.ORB_INSTRUCTIONTEXT
{
    padding-bottom:15px; 
  color: #000373; 
}
.ORB_TD_ERRORLEFT,
.ORB_TD_ERRORRIGHT
{
    color:red;
    font-weight:bolder;
    padding-left:10px;
    vertical-align:top;
} 
.ORB_INPUT
{
     background-color:#FFFF6F;
     border:1px solid #000000;
     width:150px
} 
.ORB_INPUT_CENTS
{
     background-color:#FFFF6F;
     border:1px solid #000000;
} 

.ORB_TABLE_ERRORMESSAGE,
.ORB_TABLE_FIELDS
{
     border:0px;border-collapse:collapse;
     margin:0px;
     padding:0px;
} 
.ORB_TR_ERRORROW,
.ORB_TR_FIELD
{   
    align:left;
    border:0px;
    margin:0px;
    padding:0px;
    vertical-align:top
}

.ORB_MANDATORYMARKER {}
.ORB_TD_FIELDELEMENT
{
    border:0px;
    margin:0px;
    padding-top:3px;
    text-align: left;
    vertical-align:top
} 
.ORB_SELECT
{
    background-color:#FFFF6F;
    border:1px solid #000000;
/*  width:151px */
} 
/* others?
	tableMessage
	messagetableOK
	messagetableNOK
	messagerowOK
	messagerowNOK
	messageOK
	messageNOK
        clsPaymentInstructions (BODY)
	tablePaymentInstructions
*/

/* Style definitions Continue To Provider */
.ORB_REDIRECT {}
/* Style definitions Payment Instructions */
.ORB_TR_PAYMENTINSTRUCTIONS {}
.ORB_TD_PAYMENTINSTRUCTIONS {}
.ORB_INSTRUCTIONTITLE 
{
    font-weight:bolder;
}
.ORB_TD_INSTRUCTIONIMAGE {}
.ORB_INSTRUCTIONTITLE,
.ORB_INSTRUCTIONSUBTITLE 
{
    font-weight:bolder;
}
.ORB_PAYMENTINSTRUCTION {}
.ORB_PAYMENTINSTRUCTIONCAPTION {}
.ORB_PAYMENTINSTRUCTIONFIELD {}
/* Style definitions DCC */
.ORB_DCC_INSTRUCTION 
{     
    font-weight:bolder; 
    padding-top: 10px;
}
.ORB_DCC_MERCHANT 
{
    font-weight:bold;
    padding-top: 10px;
}
.ORB_DCC_MERCHANT_AMOUNT
{ 
    font-weight:bolder; 
    padding-top: 10px;
}
.ORB_DCC_TR_DISCLAIMER {
    padding-top: 10px;
}
.ORB_DCC_ACCEPT 
{
    padding-top: 10px;
}
.ORB_DCC_ISSUER 
{
    font-weight:bold;
    padding-top: 10px;
}
.ORB_DCC_ISSUER_AMOUNT 
{
    font-weight:bolder; 
    padding-top: 10px;
}	
.ORB_DCC_RATE {}
.ORB_DCC_RATE_CAPTION {}

.hidden
{
    display: none; 
}

.Table7R3left
{
    vertical-align: top;
    border: solid windowtext 1.5pt;
    border-left: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    border-color: #999999;
}

.Table7R3top
{
    vertical-align: top;
    border: solid windowtext 1.5pt;
    border-top: none;
    padding: 0cm 5.4pt 0cm 5.4pt;
    border-color: #999999;
}

.Table7R7left
{
    vertical-align: top;
    border: none;
    border-left: solid windowtext .5pt;
    border-right:solid windowtext .5pt;
    padding:0cm 5.4pt 0cm 5.4pt;
    border-color: #999999;
}

.Table7R7right
{
    vertical-align: top;
    border:none;
    border-right: solid windowtext .5pt;
    padding:0cm 5.4pt 0cm 5.4pt;
    border-color: #999999;
}


/* styles from inline html file */
#mw-panel div.portal {
    display: none !important
}
div#footer #footer-icons {
    display: none !important
}
a[href^="https://"],
.link-https {
    background-image: none !important;
    padding: 0 !important
}
div#content {
    border: none
}
@media screen and (max-width: 981px) {
    div#content {
        margin: 0;
        padding: 1em
    }
    #mw-navigation {
        display: none
    }
    #appeal {
        display: none
    }
    #donate {
        display: block
    }
    div#greenBackground {
        padding: 1em;
        width: inherit
    }
    table#payflow-table-donor {
        width: 100%
    }
    #radiobuttons-table-header,
    td.radiobuttons-cell,
    .frequency-options,
    .payment-method-button {
        font-size: 2em
    }
    .radiobuttons-cell {
        padding: 0.5em
    }
    input.payment-method-button {
        padding: 1em
    }
    
    .options-h li {
        margin-right: 1em
    }
    p#informationsharing,
    ul#moreinfolinks {
        font-size: 1em;
        line-height: 1.35em;
        width: inherit;
        padding: 1em
    }
    #cards img {
        height: 30px;
        margin: 15px 15px 15px 0
    }
    #billing-content .name-fields span {
        margin: 0;
        width: 100%
    }
    #billing-content select,
    #billing-content input.txt,
    #billing-content input.btn {
        font-size: 1.2em;
        margin: 5px 0 !important;
        padding: 10px
    }
    #donate,
    #donate-content {
        width: inherit
    }
}
.mw-collapsible-toggle {
    float: right;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.mw-content-ltr .mw-collapsible-toggle,
.mw-content-rtl .mw-content-ltr .mw-collapsible-toggle {
    float: right
}
.mw-content-rtl .mw-collapsible-toggle,
.mw-content-ltr .mw-content-rtl .mw-collapsible-toggle {
    float: left
}
.mw-customtoggle,
.mw-collapsible-toggle {
    cursor: pointer
}
caption .mw-collapsible-toggle,
.mw-content-ltr caption .mw-collapsible-toggle,
.mw-content-rtl caption .mw-collapsible-toggle,
.mw-content-rtl .mw-content-ltr caption .mw-collapsible-toggle,
.mw-content-ltr .mw-content-rtl caption .mw-collapsible-toggle {
    float: none
}
li .mw-collapsible-toggle,
.mw-content-ltr li .mw-collapsible-toggle,
.mw-content-rtl li .mw-collapsible-toggle,
.mw-content-rtl .mw-content-ltr li .mw-collapsible-toggle,
.mw-content-ltr .mw-content-rtl li .mw-collapsible-toggle {
    float: none
}
.mw-collapsible-toggle-li {
    list-style: none
}
.suggestions {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border: none;
    z-index: 1099;
    padding: 0;
    margin: -1px 0 0 0
}
.suggestions-special {
    position: relative;
    background-color: white;
    cursor: pointer;
    border: solid 1px #aaaaaa;
    padding: 0;
    margin: 0;
    margin-top: -2px;
    display: none;
    padding: 0.25em 0.25em;
    line-height: 1.25em
}
.suggestions-results {
    background-color: white;
    cursor: pointer;
    border: solid 1px #aaaaaa;
    padding: 0;
    margin: 0
}
.suggestions-result {
    color: black;
    margin: 0;
    line-height: 1.5em;
    padding: 0.01em 0.25em;
    text-align: left;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}
.suggestions-result-current {
    background-color: #4C59A6;
    color: white
}
.suggestions-special .special-label {
    color: gray;
    text-align: left
}
.suggestions-special .special-query {
    color: black;
    font-style: italic;
    text-align: left
}
.suggestions-special .special-hover {
    background-color: silver
}
.suggestions-result-current .special-label,
.suggestions-result-current .special-query {
    color: white
}
.highlight {
    font-weight: bold
}
</style><style> .suggestions a.mw-searchSuggest-link,
.suggestions a.mw-searchSuggest-link:hover,
.suggestions a.mw-searchSuggest-link:active,
.suggestions a.mw-searchSuggest-link:focus {
    color: black;
    text-decoration: none
}
.suggestions-result-current a.mw-searchSuggest-link,
.suggestions-result-current a.mw-searchSuggest-link:hover,
.suggestions-result-current a.mw-searchSuggest-link:active,
.suggestions-result-current a.mw-searchSuggest-link:focus {
    color: white
}
.suggestions a.mw-searchSuggest-link .special-query {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}



